<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <h1>Відновлення</h1>
                <div class="col-md-12">
                    <form action="#" th:action="@{/sendPasswordReset}" method="post">
                        <div class="form-group">
                            <label for="email">Електронна адресса</label>
                            <input type="text" class="form-control" name="email" id="email">
                        </div>

                        <button class="btn btn-primary" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>