<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <h1>Edit task</h1>
                <div class="col-md-12">
                    <form action="#" th:action="@{/edit/{id}(id=${task.id})}" th:object="${task}" method="post">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" th:field="*{title}" id="title">
                            <span class="invalid text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                        </div>
                        <div class="form-group">
                            <label for="completed">Completed</label>
                            <input type="checkbox" class="check-box form-control" th:field="*{completed}" id="completed">
                            <span class="invalid text-danger" th:if="${#fields.hasErrors('completed')}" th:errors="*{completed}"></span>
                        </div>
                        <button class="btn btn-primary" type="submit">Зберегти</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>